.react-dialog_dialog {
    position: fixed;
    border: 1px solid black;
    background: white;
    resize: both;
    z-index: 999;
}

.react-dialog_dialog>.select-point {
    position: relative;
    top: 0px;
    height: 20px;
    width: 100%;
    background: black;
    cursor: pointer;
}

.react-dialog_dialog>.select-point>.close-btn {
    float: right;
}